In [1]:
web={
    'header':'header.html',
    'footer':'footer.html',
    'content':''
}

In [20]:
def readfile(filename:str):
    """
    takes in a file name and reads it
    """
    with open(filename, "r") as file_handle:
        file_contents = file_handle.read()
        
        return file_contents
    
def create_index(filename:str,filecontent:str):
    with open(filename, "w") as file_handle:
        file_handle.write(filecontent)

In [26]:
header_content=readfile(web['header'])
footer_content=readfile(web['footer'])
web['content']=df.to_html(index=False,table_id='sales')
index_content=header_content+web['content']+footer_content
create_index('index.html',index_content)

<!-- content goes here, and is generated by python -->

</body>
</html>

In [10]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
df

    x   y
0   1  74
1   2  66
2   3  70
3   4  89
4   5  83
5   6  10
6   7  75
7   8   1
8   9  65
9  10   2

In [19]:
index_content

'<!DOCTYPE html>\n<html lang="en">\n<head>\n    <meta charset="UTF-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <title>Github Web Page</title>\n</head>\n<body>\n\n<!-- anythign above is default html header file -->\n\n<!-- page content auto-generated by python script -->\n\n\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>74</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>66</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>70</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>89</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>83</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>10</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>75</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>65</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>2</td>\n    </tr>\n  </tbody>\n</table>\n<!-- content goes here, and is generated by python -->\n\n</body>\n</html>'